h2{
    color: purple;
    text-align: center;
    font-size: xx-large;

}

.logo{
width: Fixed (120px);
height: Fixed (48px);
top: 40px;
left: 40px;
gap: 40px;
}



.btnencriptar{
    padding: 6px;
    padding-top: 5px;
    background-color:#0a3871;
    color: aliceblue;
    font-size: medium;
    border-radius: 10px;
    border: black;

}

.btnencriptar:hover{
    color:#c719c4;
    text-decoration: underline;
}



.footer{
    padding: 40px;
    font-size: small;
    font-style: italic;
}

.Copyright{
    color: #BBBBBB;
    font-size: 13px;
    margin: 20px;
}