*{
    
    font-family: 'inter';
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;

}

body{
    background: #e9ecf8;
}
h2{
    font-weight: bold;
    text-align: center;
    font-size: xx-large;

}

.logo{
width: Fixed (120px);
height: Fixed (48px);
top: 40px;
left: 40px;
gap: 40px;
}

main {
    display:flex;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: row;
    column-gap: 10px;
}



.texto-encriptado{
    border: none;
    color: #0a3871;
    text-transform: lowercase;
    padding: 5px;
}

.botones{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    padding: 5px;
}


.btnencriptar{
    padding: 6px;
    background-color:#0a3871;
    color: aliceblue;
    font-size: medium;
    border-radius: 10px;
    border-color: black;

}

.btnencriptar:hover{
    color:#c719c4;
    text-decoration: underline;
}

.btndesencriptar{
    padding: 6px;
    background-color:white;
    font-size: medium;
    border-radius: 10px;
    border-color: #0a3871;
}

.btndesencriptar:hover{
    color:#c719c4;
    text-decoration: underline;

}

.campo-texto{
    background: white;
}

.mensaje{
    background: white;
    border: none;
    background-image: url("/Muñeconot-found.png");
    background-repeat: no-repeat;
}

.copiar{
    border:1px black white;
    border-radius: 10px;
    padding: 6px;
}

.Copyright{
    color: #BBBBBB;
    font-size: 13px;
    margin: 20px;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
}